.navbar-brand{
font-family: Quella;
font-size: 1.5rem;
font-weight: 400;
line-height: 2.438rem;
}
.mrauto{
    margin-right: auto;
    margin-left: 1rem;
}
.menus,.font1-2{
font-family: Poppins;
font-size: 1.125rem;
font-weight: 500;
line-height: 1.688rem;
color: gray;
}
.mleft{
    margin-left: 1rem;
    cursor: pointer;
}
.mleft1{
    margin-left: 0.5rem;
}
.navbar-toggler{
    padding: 0rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}
.nav-item:hover{
    color: var(--bs-navbar-active-color);
}
.fifty .menus,.see-more,.card-title,.explore,.johndoe,.mleft1{
    color: black;
}
.eurobig{
font-family: Poppins;
font-size: 4rem;
font-weight: 800;
line-height: 4rem;
}
body{
    padding-top: 4.5rem;
}
.eurosection{
    background: #C1DCDC;
    border-radius: 1.5rem;
}
.euro1{
    width: 45%;
    margin: 2.5rem;
}
.fifty{
font-family: Poppins;
font-size: 2rem;
font-weight: 500;
line-height: 3rem;
margin: 0.8rem 2rem 0rem 0rem;
}
.vertical{
    border-left: 0.125rem solid  #1E1E1E;
    height: 4.063rem;
    margin: 0.8rem 2rem 0rem 0rem;
}
.search{
    border-radius: 0.75rem;
    border: white;
    width: 22.813rem;
    height: 2.5rem;
    padding: 1rem;
    background: url("images/Search.png") no-repeat right;
    background-size: 1rem;
    background-color: white;
    background-position-x: 20rem;
    margin-top: 2rem;
}
.rectangleimg{
    height: 18.5rem;
    width: 20.5rem;
}
.navbar{
    background-color: white;
}
.euro2{
    width: 50%;
    justify-content: center;
}
.plant-img{
    height: 24rem;
    width: 20rem;
}
body,html{
    overflow-x:hidden;
    width: auto;
}
.vector-img{
    height: 5rem;
}
.vector-img2{
    height: 9rem;
}
.seling-plants{
font-family: Poppins;
font-size: 2rem;
font-weight: 700;
line-height: 3rem;
}
.see-more{
padding: 0.438rem 0.938rem 0.438rem 0.938rem;
border-radius: 0.5rem;
border: 0.063rem solid #C1DCDC;
background: #C1DCDC;
}
.mt4{
    margin:4rem 0rem 4rem 0rem;
}
.mt1,.see-more{
    margin-top: 1rem;
}
.mtop2{
    margin-top: 2rem;
}
.mt2{
    margin: 2rem 0rem;
}
.card{
    border-width: 0rem;
    border-radius:0.75rem;
    --bs-card-spacer-y: 0.5rem;
    --bs-card-bg:none;
}
.card-body{
    padding: var(--bs-card-spacer-y) 0rem;
}
.card-icons{
    width: 4.063rem;
    height: 4.063rem;  
}
.backgreen{
    background: #C1DCDC;
    padding: 3rem 0rem 5rem 0rem;
    margin: 6rem 0rem;
}
.explore,.explore:hover{
   background-color: white;   
   border-radius: 0.5rem;
   padding:0.375rem 0.75rem 0.375rem 0.75rem;
}
 .container-fluid {
    --bs-gutter-x: 0rem;
}
.font12{
font-family: Poppins;
font-size: 0.75rem;
font-weight: 500;
line-height: 1.125rem;
color: gray;
}
.star{
    height: 1.25rem;
    width: 1.25rem;
}
.carousel-item{
    background: #C1DCDC;
    border-radius: 0.75rem;
    padding: 2.5rem 2.5rem 0rem 2.5rem ;
}
#carouselExampleInterval{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-indicators [data-bs-target]{
background-color: rgb(196, 194, 194);
width: 1.25rem;
padding: 0.1rem;
border-radius: 0.775rem;
}
.carousel-indicators .active {
    background-color: #C1DCDC;
    width: 4.375rem;
}
.carousel-indicators {
     margin-right: 0rem; 
     margin-bottom: 0rem;
     justify-content: end;
}
.greenmind{
font-family: Quella;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.813rem;
}
.footer{
    background: #C1DCDC;
    margin-top:11rem;
    padding: 2rem;
}
.footer-heading{
font-family: Poppins;
font-size: 1.125rem;
font-weight: 700;
line-height: 1.688rem;
}
.mt3{
    margin-top: 4rem;
}
.mb2{
    margin-bottom: 2rem;
}
@media  screen and (min-width:12.5rem) and (max-width:62rem) {
    #navbarsExample05{
        padding: 1.5rem 0rem 1rem 0rem;
        background: #9bdbdb;
    }
    .navbar-nav li{
        padding: 0.5rem 0rem 0.5rem 0rem;
        text-align: center;
    }
    .mrauto{
        margin-left: 0rem;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0rem;
    }
    .t-center,.greenmind,.footer-heading,.mt3,.nav li{
        text-align: center;
    }
    .mt4,.addmargin{
        margin:2rem 0rem 1rem 0rem;
    }
    #carouselExampleInterval{
        width: 100%;
    }
    .addmt0-5,.search{
        margin-top: 1rem;
    }
    .mt0-5{
        margin-top: 0rem;
    }
    .eurosection{
        border-radius: 1rem;
    }
    .navbar-toggler{
        margin-left: 1.5rem;
    }
    .fifty{
        margin: 0.4rem 1rem 0rem 0rem;
    }
    .vertical{
        margin: 0.4rem 1.1rem 0rem 0rem;   
    }
}
@media screen and (min-width:48rem) and (max-width:62rem) {
    .navbar-brand{
        font-size: 1.375rem;
    }
    .eurobig{
            font-size: 3.125rem;
            font-weight: 700;
            line-height: 3.5rem;
    }
    .search{
        width: 18.813rem;
        background-position-x: 17rem;
    }
    .rectangleimg{
        height: 14.5rem;
        width: 16.5rem;
    }
    .plant-img{
        height: 20rem;
        width: 16rem;
    }
    .vector-img{
        height: 4rem;
    }
    .vector-img2{
        height: 7rem;
    }
    .seling-plants{
        font-size: 1.75rem;
        line-height: 2.375rem;
    }
    .card-icons{
        width: 3.438rem;
        height: 3.438rem;  
    }
    .font1-2{
        font-size: 1rem;
        line-height: 1.563rem;
    }
    .card1-imgs{
        height: 18.75rem;
        width: 14.375rem;
    }
    .backgreen{
        padding: 3rem 0rem 2rem 0rem;
        margin: 2rem 0rem;
    }
    .carousel-item{
        padding: 1.5rem 1.5rem 0rem 1.5rem ;
    }
    .footer{
       margin-top:6rem;
       padding: 1.2rem;
   }
   .mt3{
    margin-top: 2rem;
    }
    .euro1 {
        margin: 2rem;
    }
}
@media screen and (min-width:12.5rem) and (max-width:48rem) {
    .navbar-brand{
        font-size: 1.25rem;
    }
    .mleft{
        margin-left: 0.5rem;
    }
    .eurobig{
        font-size: 1.875rem;
        font-weight: 550;
        text-align: center;
        line-height: 2.5rem;
    }
    .euro1,.euro2{
        width: auto;
    }
    .fifty{
        font-size:1.5rem;
        font-weight: 400;
        line-height: 2.188rem;
    }
    .seling-plants{
        font-size:1.5rem;
        font-weight: 600;
        line-height: 1.875rem;
    }
    .center,.card{
       text-align: center;
    }
    .euro1{
        margin: 1rem 0.5rem;
    }
    .euro2{
        margin-top: 3rem;
    }
    .search{
        width: 16.813rem;
        background-position-x: 15rem;
    }
    .rectangleimg{
        height: 13.5rem;
        width: 15.5rem;
    }
    .plant-img{
        height: 17.5rem;
        width: 15rem;
    }
    .vector-img,.vector-img2{
        display: none;
    }
    .addmt1{
        margin-top: 0.5rem;
    }
    .mtop2,.mt3{
        margin-top: 1rem;
    }
    .card-imgs{
        height: 14.375rem;
        width: 12.5rem;
    }
    .card-icons{
        width: 3rem;
        height: 3rem;  
    }
    .font1-2{
        font-size: 0.9rem;
        line-height: 1.438rem;
    }
    .card1-imgs{
        height: 14.375rem;
        width: 11.25rem;
    }
    .backgreen{
        padding: 1rem 0rem 0.5rem 0rem;
        margin: 1rem 0rem;
    }
    .carousel-indicators {
        position: static;
        justify-content: center;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    .carousel-item{
        padding: 1rem 1rem 0rem 1rem ;
    }
    .footer{
        margin-top:3rem;
        padding: 0.6rem;
    }
    .footer-icons{
        height: 2.5rem;
        width: 2.5rem;
    }
    body{
        padding-top:3rem;
    }
    .vertical{
    height: 3.463rem;
    }  
}
@media screen and (min-width:62rem) and (max-width:75rem) {
    .eurobig{
        font-size: 3.625rem;
        font-weight: 700;
        line-height: 3.5rem;
    }
    .rectangleimg{
        height: 16.5rem;
        width: 18.5rem;
    }
    .plant-img{
        height: 22rem;
        width: 18rem;
    }
    .carousel-item{
        padding: 2rem 2rem 0rem 2rem ;
    }
    #carouselExampleInterval{
        width:68%;
    }
    .footer{
       margin-top:9rem;
    }
}
@media screen and (min-width:62rem) {
    .nagativemt{
        margin-top: -6.25rem;
    }    
}
@media screen and (min-width:75rem) and (max-width:87.5rem) {
    .carousel-item{
        padding: 2rem 2rem 0rem 2rem ;
    }
    #carouselExampleInterval{
        width:56%;
    }
}
